<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>book "Spring Boot로 시작하는 web service"</h1>
</body>
</html>